/* region normalize*/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: Capriola, sans-serif;
}

p{
    font-size: 0.9em;
    line-height: 1.6em;
}


a:link, a:visited {
    text-decoration: none;
    color: #7878ff
}

a:link:hover, a:visited:hover {
    color: #a6a6ff
}


.home .intro {
    text-align: center;
    min-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home .intro > div {
    padding: 85px 0
}

.home .intro > div canvas {
    margin-bottom: 12px;
    max-width: 256px;
    width: 50vw
}

.home .intro > div h1 {
    margin-bottom: 0
}

.home .intro > div p {
    color: lightgray;
}

.home .intro > div a {
    margin-top: 28px;
    font-size: 13pt;
    display: block
}



@media (max-width: 700px) {
    .home .credits-section a {
        width: 50%
    }
}

@media (max-width: 500px) {
    .home .credits-section a {
        width: 100%
    }
}




.section > h2 {
    margin-top: 0
}

.section > div {
    margin: 0 auto;
    max-width: 800px;
    text-align: initial;
    overflow-x: hidden
}

.section-release > a {
    margin-top: 20px;
    display: inline-block
}


hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}

/*endregion*/

html{
    scroll-behavior: smooth;
}


.intro, .footer{
    background: #191919;
}

p, h1, h2, h3, h4, h5, h6, li, input, span, label {
    color: white;
}


/* Téléphone */
@media only screen and (min-width: 100px) {
    .w3-quarter{
        width: 100%;
    }



    div.intro{
        background-position: center;
    }
}

/* Tablette */
@media only screen and (min-width: 601px) {
    .conteneurLigneArticle {
        text-align: center;
        display: flex;
        margin: auto;
    }
    .w3-quarter{
        display: inline-block;
        width: 50%;
        padding: 0 20px 0 20px;
    }
}

/* PC */
@media only screen and (min-width: 1141px) {
    .w3-quarter{
        display: inline-block;
        width: 23%;
        padding: 0 20px 0 20px;
        vertical-align: top;
    }

    .conteneurLigneArticle{
        text-align: center;
        display: contents;
        margin: auto;
    }

    div.intro{
        background-position: initial;
    }
}

div.intro {
    background-image: url("img/assomption.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Barre supérieure */
#barre_haut {
    right: 0;
    position: absolute;
    padding-right: 40px;
    z-index: 4;
}

/* Footer (signature et créateur) */
.footer p, .footer img {
    font-size: 13px;
    color: #CDCDCD;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 15%;
}

/* Interaction quand le curseur est sur l'article */
.w3-quarter:not(.priere):hover{
    background-color: rgba(180, 114, 60, 0.2);
    border-radius: 10px;
}